.container{
  background-color: #f6f6f6;
  min-height: 100%;
}

.labels{
  overflow-x: auto;
  white-space: nowrap;
  background-color: #fff;

  li{
    display: inline-block;
    padding: 0 .1rem;

    span{
      display: block;
      padding-top: .02rem;
      height: .44rem;
      line-height: .44rem;
      font-size: .16rem;
      color: #666;
      cursor: pointer;
      border-bottom: .02rem solid #fff;
      transition: all .3s ease-in;

      &.current{
        color: #00b0ab;
        border-color: #00b0ab;
      }
    }
  }
}

.list{
  margin-top: .1rem;
}

.item{
  display: block;
  background-color: #fff;
  padding: .16rem .2rem;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);

  & + .item{
    margin-top: .1rem;
  }
}

.title{
  font-size: .16rem;
  color: #1a1a1a;
}

.summary{
  margin: .04rem 0;
  font-size: .14rem;
  color: #666;
}

.date{
  font-size: .12rem;
  color: #999;
}