.container{
  height: 100%;
  background: #78BBE6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1B435D, #78BBE6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1B435D, #78BBE6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.photo{
  position: relative;
  width: 100%;
  height: 2.4rem;
  background-image: url("https://i.loli.net/2018/02/10/5a7ebc0345f74.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blogBtn{
  left: .1rem;
}

.languageBtn{
  right: .1rem;
}

.blogBtn, .languageBtn{
  position: absolute;
  top: .1rem;
  width: .6rem;
  height: .3rem;
  line-height: .3rem;
  text-align: center;
  font-size: .14rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .2);
  border-radius: .08rem;
  border: 0;
  transition: all .3s ease;

  &:active{
    background-color: rgba(0, 0, 0, .6);
  }
}

.slogan {
  position: relative;
  width: .3rem;
  height: 100%;
  font-size: .14rem;
  color: #fff;
  background-color: #FF895D;

  &:after {
    position: absolute;
    content: 'Stay hungry, Stay foolish.';
    top: 50%;
    left: 50%;
    white-space: nowrap;
  }
}

.chineseSlogan{
  &:after{
    content: '成功不息，痴心不改';
  }
}

.introduce{
  padding: .3rem .2rem;

  p{
    font-size: .2rem;
    color: #FF895D;
  }

  div{
    margin-top: .2rem;
    line-height: .36rem;
    font-family: San Francisco;
    font-size: .21rem;
    color: #fff;
  }
}

.link{
  position: absolute;
  bottom: .2rem;
  left: 0;
  width: 100%;

  a{
    padding: 0 .04rem;
  }
}

.icon_link{
  display: flex;
  justify-content: center;
  align-items: center;

  a{
    height: .28rem;
    line-height: .28rem;
    font-size: 0;

    + a{
      margin-left: .06rem;
    }
  }

  i{
    display: inline-block;
    width: .28rem;
    height: .28rem;
    text-align: center;
    border-radius: 50%;
  }

  .icon_github{
    font-size: .28rem;
    color: #fff;
  }

  .icon_zhihu{
    font-size: .17rem;
    background-color: #fff;
    color: #80b4dc;
  }
}

.word_link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .1rem;

  a{
    font-size: .14rem;
    color: #fff;

    &:hover{
      text-decoration: underline;
    }
  }
}

@media (min-aspect-ratio: 1/1) {
  .container {
    display: flex;
    align-items: center;
  }

  .photo{
    flex: 1;
    height: 100%;
  }

  .slogan{
    position: relative;
    width: .3rem;
    height: 100%;

    &:after{
      transform: translate(-50%,-50%) rotate(-90deg);
    }
  }

  .about{
    position: relative;
    flex: 1;
    height: 100%;
  }
}

@media (max-aspect-ratio: 1/1) {
  .container {
    display: block;
  }

  .slogan {
    width: 100%;
    height: .3rem;

    &:after {
      transform: translate(-50%, -50%);
    }
  }
}
